
{% if options.title %}
<h2>{{ options.title }}</h2>
{% endif %}

<form 
    method="POST" 
    action="{{ options.handler }}" 
    name="{{ options.form_name }}" 
    > 

    {{ csrf_field()|raw }}

    <input class="{{ options.input_class }}" type="email"    name="subscriber_email"  placeholder="{{ options.email_placeholder }}" >

    {% if options.use_fname  %}
        <input class="{{ options.input_class }}"  type="text" name="fname" value="" placeholder="First Name">
    {% endif %}

    <input type="hidden" name="strid"  value="{{ options.list }}" data-compatibility='true'>
    <input type="hidden" name="campaign_id"  value="{{ options.list }}">

    {% for tag in options.tags  %}
        <input type="hidden" name="mc_tags[]" value="{{ tag }}">
    {% endfor %}

    <input type="hidden" name="action"  value="{{ options.action }}">
    <input type="submit" name="submit"  value="{{ options.button_text ??  'Submit' }}" >

</form>